*.DS_Store
*.class
*.prefs
*.project
*.classpath
demand-side/dsp-client/target/*
demand-side/dsp-intf/target/*
demand-side/dsp-core/target/*
demand-side/dsp-web/target/*

supply-side/ssp-client/target/*
supply-side/ssp-intf/target/*
supply-side/ssp-core/target/*
supply-side/ssp-web/target/*

common/target/*



/bin
