<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Open RTB SSP</display-name>
  <servlet>
    <servlet-name>ssp</servlet-name>
    <servlet-class>org.openrtb.ssp.web.OpenRtbSspServlet</servlet-class>
	<init-param>
		<param-name>ClientClassName</param-name>
		<param-value>org.openrtb.ssp.client.OpenRtbSspClient</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssp</servlet-name>
    <url-pattern>/openrtb</url-pattern>
  </servlet-mapping>
</web-app>